@import "tailwindcss";

@theme {
  --color-leafgreen-500: #14d414;
  --color-signinFree: #201665;
  --color-addhosblue:#007bff;
  --color-resblue:#3e66f7;
  --color-careGray:#7870a3;
  --color-footerGreen:rgb(6, 82, 74);
  --color-caregiverbg:#e5ffc7;

 

  --font-careFooter: 'poppins';
}